/* Ожидание загрузки "Кольцо" */
#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -6em 0 0 -6em;
  border: 2em solid #EEEEEE;
  border-radius: 50%;
  border-top: 2em solid #5599FF;
  width: 10em;
  height: 10em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Ожидание загрузки "Полоса" */
.loaderWRP {
  margin: 5% 10%;
  height: 0.5em;
  border: 1px solid #9BD;
  border-radius: .5em;
  overflow: hidden;
}

.bar {
  height: 100%;
  width: 200%;
  background-image: repeating-linear-gradient(45deg, #FFFFFF 0, #FFFFFF 0.5em, #999999 0.5em, #999999 1em);
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}
