body {
    transition: background-color .5s ease-in-out;
    &.dv0 {
        background-color: #AABBCC;
        #wrapper, header, a, a:visited, a:active {
            color: #222222;
        }
        .lbar, .rbar {
            background-color: #DDEEFF;
        }
        .lbar {
            box-shadow: -1px 2px 5px #555555;
        }
        .rbar {
            box-shadow: 1px 2px 5px #555555;
        }
        .main {
            background-color: #EEEEEE;
            box-shadow: 0 2px 5px #555555;
        }
        .logo {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="2299" height="578"%3E%3Cstyle%3E.a%7Bfill:none;stroke-width:30;stroke:%23eee%7D%3C/style%3E%3Cdefs%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D%3C/style%3E%3C/defs%3E%3Cpath class="a" d="M2060 259h168l31 31v137m-199-229v229m-46-168h-169l-30 31v107l30 30h169m-338 0h-76l-31-30V290l31-31h138l30 31v61h-199m-111-153v229m-107-229h214m-335 0v229M810 198h-92l-30 31v61l30 30h153l31 31v46l-31 30H688"/%3E%3Cpath d="M515 396q6-12 13-36 7-23 10-48 2-24 0-48-3-25-10-48-7-24-19-45-11-22-27-41-15-19-34-34-19-16-41-27-21-12-45-19-23-7-38-9l-14-1z" fill="%238d2"/%3E%3Cpath d="M270 40q-29 3-52 10-24 7-45 19-22 11-41 27-19 15-34 34-16 19-27 41-12 21-19 45-7 23-10 48-2 24 0 48 3 25 10 48 7 24 10 30l3 6z" fill="%23fff"/%3E%3Cpath d="M87 433q26 32 45 47 19 16 41 27 21 12 45 19 23 7 48 10 24 2 48 0 25-3 48-10 24-7 45-19 22-11 41-27 19-15 32-31l13-16z" fill="%2359f"/%3E%3Ccircle class="a" cx="1065" cy="313" r="115"/%3E%3C/svg%3E');
        }
        .dev {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 13 13" id="icon"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23660;fill:%23bb4;stroke-width:.7%7D.b%7Bfill:none;stroke:%23ff0;stroke-width:.7%7D.c%7Bfill:none;stroke:%23222;stroke-width:.3%7D%3C/style%3E%3Ccircle class="a" cx="6.615" cy="6.615" r="5.975"/%3E%3Cpath class="b" d="M2.738 9.914h7.606M4.198 8.604l6.85-.01M5.146 7.273h5.78M5.12 5.953h4.545M4.218 4.633h3.598M2.737 3.312l3.172.02"/%3E%3Cpath class="c" d="M9.454 7.962c3.273-2.95-.053-4.756-3.198-6.54M7.273 4.136V2.048M9.275 5.404V3.316M10.108 9.43V7.34"/%3E%3C/svg%3E');
        }
        .icon-manager {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" id="m1"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23222%7D.a,.b%7Bfill:none;stroke-width:2%7D.b%7Bstroke:%2359f%7D.c%7Bstroke-width:6%7D%3C/style%3E%3Ccircle class="a" r="6.5" cy="71.95" cx="82.787"/%3E%3Ccircle class="a" r="6.5" cy="11.098" cx="49.316"/%3E%3Cpath class="a" d="M42.49 11.442c-22.965 4.815-37.04 28.892-28.52 54.08m7.777 12.41c15.187 16.483 43.71 15.372 57.23-.556"/%3E%3Ccircle class="a" r="6.5" cy="72.217" cx="17.831"/%3E%3Ccircle class="b c" r="12.5" cy="50" cx="50"/%3E%3Cpath class="a b" d="M89.163 59.41c7.41-37.04-27.04-47.227-27.04-47.227M77.31 56.447C82.125 31.444 58.79 24.59 58.79 24.59"/%3E%3C/svg%3E');
        }
        .icon-network {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" id="m2"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23222%7D.a,.b%7Bfill:none;stroke-width:2%7D.b%7Bstroke:%2359f%7D.c%7Bstroke-width:6%7D%3C/style%3E%3Cpath class="a" d="M21.592 33.803l15.372 9.63"/%3E%3Ccircle class="a" r="6.5" cy="29.406" cx="16.236"/%3E%3Cpath class="a" d="M77.055 68.118l-15.373-9.63"/%3E%3Ccircle class="a" r="6.5" cy="71.691" cx="82.714"/%3E%3Cpath class="b" d="M21.723 68.098l15.373-9.63"/%3E%3Cpath class="b" d="M50 35.52V19.224"/%3E%3Ccircle class="b c" r="12.5" cy="50" cx="50"/%3E%3Ccircle class="b" r="6.5" cy="71.622" cx="15.51"/%3E%3Ccircle class="b" r="6.5" cy="12.367" cx="50.306"/%3E%3C/svg%3E');
        }
        .icon-control {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" id="m3"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23222%7D.a,.b%7Bfill:none;stroke-width:2%7D.b%7Bstroke:%2359f%7D.c%7Bstroke-width:6%7D%3C/style%3E%3Ccircle class="a" r="38.709" cy="50" cx="50"/%3E%3Ccircle class="a" r="38.993" cy="50" cx="50"/%3E%3Ccircle class="b c" r="12.5" cy="50" cx="50"/%3E%3Cpath class="a" d="M50 17.96v11.11m5.556-5.555H44.444m11.112 51.86H44.444"/%3E%3Cpath class="b" d="M74.077 56.482L80.56 50l-6.483-6.667M25.923 56.668l-6.482-6.483 6.483-6.667"/%3E%3C/svg%3E');
        }
        .icon-script {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" id="m4"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23222%7D.a,.b%7Bfill:none;stroke-width:2%7D.b%7Bstroke:%2359f%7D.c%7Bstroke-width:6%7D%3C/style%3E%3Ccircle class="a" cx="22.751" cy="76.038" r="6.545"/%3E%3Cpath class="a" d="M71.32 39.845h9.26v-9.26"/%3E%3Cpath class="b" d="M28.57 60.558v9.26h9.26m40.56-22.04c-20.927-4.63-39.45 3.15-49.264 21.3"/%3E%3Cpath class="a" d="M80.025 39.66C68.727 22.62 51.873 17.805 37.797 23.917"/%3E%3Ccircle class="b c" cx="25.606" cy="31.297" r="12.353"/%3E%3Ccircle class="a" cx="85.077" cy="49.243" r="6.545"/%3E%3C/svg%3E');
        }
        .icon-settings {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" id="m5"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23222%7D.a,.b%7Bfill:none;stroke-width:2%7D.b%7Bstroke:%2359f%7D.c%7Bstroke-width:6%7D%3C/style%3E%3Ccircle class="b c" cx="50" cy="50" r="12.5"/%3E%3Cpath class="a" d="M49.815 75.466l-9.63-2.037-9.076 9.444-4.26-2.778 5.185-12.038-5.556-8.335-13.15.186-.927-4.817 12.223-5 1.853-9.63-9.447-9.447 2.778-3.89 12.225 5 8.15-5.37V13.42l4.63-.925 5 12.224 9.816 2.036 9.26-9.445 4.076 2.594-5.186 12.223 5.556 8.335 13.15-.185 1.11 4.815-12.408 5-1.852 9.63 9.446 9.447-2.778 4.074-12.224-5.186-8.15 5.37v13.15l-4.815.927z"/%3E%3C/svg%3E');
        }
        .icon-delete {
            background: no-repeat 50%;
            background-size: contain;
            float: right;
            margin-top: -.3em;
            margin-right: .5em;
            width: 2em;
            height: 2em;
            background-image: url('data:image/svg+xml;utf8,%3Csvg fill="%23555555" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0 0h24v24H0V0z" fill="none"/%3E%3Cpath d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
        }
        .delete {
            width: 2em;
            height: 1.5em;
            opacity: 0;
            cursor: pointer;
        }
        #menu ul li a {
            color: #222222;
        }
        #menu ul li a:hover .mt {
            color: #5599FF;
            border-bottom: 1px dashed #5599FF;
        }
        #menu ul li a.active .mt {
            color: #5599FF;
            border-bottom: 1px solid #5599FF;
        }
        .sb {
            background-color: #FFFFFF;
            box-shadow: 0 1px 3px #555555;
        }
        .tsb {
            color: #5599FF;
            border-bottom: 0.2em solid #5599FF;
        }
        .sc-name {
            color: #5599FF;
            &:hover, &:focus {
                color: #222222;
            }
        }
        .block {
            background-color: #FFFFFF;
            box-shadow: 0 1px 3px #555555;
        }
        .sc-device, .tsc {
            background-color: #EEEEEE;
            border: 1px solid #CCCCCC;
        }
        // TODO: конкретно указать типы инпутов, которые требуют данный стиль
        input.input {
            background-color: #FFFFFF;
            border: 1px solid #CCCCCC;
            &:hover, &:focus, &:active {
                background-color: #FFFFFF;
                outline: none;
            }
        }
        .select {
            background-color: #FFFFFF;
            border: 1px solid #CCCCCC;
            &:hover, &:focus {
                background-color: #FFFFFF;
                outline: none;
            }
        }
        .red, .green, .blue, .grey {
            color: #333333;
            border-color: #333333;
        }
        .red {
            background-color: #FFDDDD;
            &:hover {
                background-color: #FFCCCC;
            }
            &:active, &.active {
                color: #FFFFFF;
                background-color: #FF6666;
            }
        }
        .green {
            background-color: #DDFFDD;
            &:hover {
                background-color: #BBFFAA;
            }
            &:active, &.active {
                color: #FFFFFF;
                background-color: #33BB00;
            }
        }
        .blue {
            background-color: #DDEEFF;
            &:hover {
                background-color: #AADDFF;
            }
            &:active, &.active {
                color: #FFFFFF;
                background-color: #55BBFF;
            }
        }
        .grey {
            background-color: #DDDDDD;
            &:hover {
                background-color: #CCCCCC;
            }
            &:active, &.active {
                color: #FFFFFF;
                background-color: #999999;
            }
        }
    }
    &.dv1 {
        background-color: #001122;
        #wrapper, header, a, a:visited, a:active {
            color: #AAAAAA;
        }
        .lbar, .rbar {
            background-color: #112233;
        }
        .lbar {
            box-shadow: -1px 2px 5px #111111;
        }
        .rbar {
            box-shadow: 1px 2px 5px #111111;
        }
        .main {
            background-color: #223344;
            box-shadow: 0 2px 5px #111111;
        }
        .logo {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="2299" height="578"%3E%3Cstyle%3E.a%7Bfill:none;stroke-width:30;stroke:%23eee%7D%3C/style%3E%3Cdefs%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D%3C/style%3E%3C/defs%3E%3Cpath class="a" d="M2060 259h168l31 31v137m-199-229v229m-46-168h-169l-30 31v107l30 30h169m-338 0h-76l-31-30V290l31-31h138l30 31v61h-199m-111-153v229m-107-229h214m-335 0v229M810 198h-92l-30 31v61l30 30h153l31 31v46l-31 30H688"/%3E%3Cpath d="M515 396q6-12 13-36 7-23 10-48 2-24 0-48-3-25-10-48-7-24-19-45-11-22-27-41-15-19-34-34-19-16-41-27-21-12-45-19-23-7-38-9l-14-1z" fill="%238d2"/%3E%3Cpath d="M270 40q-29 3-52 10-24 7-45 19-22 11-41 27-19 15-34 34-16 19-27 41-12 21-19 45-7 23-10 48-2 24 0 48 3 25 10 48 7 24 10 30l3 6z" fill="%23fff"/%3E%3Cpath d="M87 433q26 32 45 47 19 16 41 27 21 12 45 19 23 7 48 10 24 2 48 0 25-3 48-10 24-7 45-19 22-11 41-27 19-15 32-31l13-16z" fill="%2359f"/%3E%3Ccircle class="a" cx="1065" cy="313" r="115"/%3E%3C/svg%3E');
        }
        .dev{
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 13 13" id="icon"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23660;fill:%23bb4;stroke-width:.7%7D.b%7Bfill:none;stroke:%23ff0;stroke-width:.7%7D.c%7Bfill:none;stroke:%23222;stroke-width:.3%7D%3C/style%3E%3Ccircle class="a" cx="6.615" cy="6.615" r="5.975"/%3E%3Cpath class="b" d="M2.738 9.914h7.606M4.198 8.604l6.85-.01M5.146 7.273h5.78M5.12 5.953h4.545M4.218 4.633h3.598M2.737 3.312l3.172.02"/%3E%3Cpath class="c" d="M9.454 7.962c3.273-2.95-.053-4.756-3.198-6.54M7.273 4.136V2.048M9.275 5.404V3.316M10.108 9.43V7.34"/%3E%3C/svg%3E');
        }
        .icon-manager {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" id="m1"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23222%7D.a,.b%7Bfill:none;stroke-width:2%7D.b%7Bstroke:%2359f%7D.c%7Bstroke-width:6%7D%3C/style%3E%3Ccircle class="a" r="6.5" cy="71.95" cx="82.787"/%3E%3Ccircle class="a" r="6.5" cy="11.098" cx="49.316"/%3E%3Cpath class="a" d="M42.49 11.442c-22.965 4.815-37.04 28.892-28.52 54.08m7.777 12.41c15.187 16.483 43.71 15.372 57.23-.556"/%3E%3Ccircle class="a" r="6.5" cy="72.217" cx="17.831"/%3E%3Ccircle class="b c" r="12.5" cy="50" cx="50"/%3E%3Cpath class="a b" d="M89.163 59.41c7.41-37.04-27.04-47.227-27.04-47.227M77.31 56.447C82.125 31.444 58.79 24.59 58.79 24.59"/%3E%3C/svg%3E');
        }
        .icon-network {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" id="m2"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23222%7D.a,.b%7Bfill:none;stroke-width:2%7D.b%7Bstroke:%2359f%7D.c%7Bstroke-width:6%7D%3C/style%3E%3Cpath class="a" d="M21.592 33.803l15.372 9.63"/%3E%3Ccircle class="a" r="6.5" cy="29.406" cx="16.236"/%3E%3Cpath class="a" d="M77.055 68.118l-15.373-9.63"/%3E%3Ccircle class="a" r="6.5" cy="71.691" cx="82.714"/%3E%3Cpath class="b" d="M21.723 68.098l15.373-9.63"/%3E%3Cpath class="b" d="M50 35.52V19.224"/%3E%3Ccircle class="b c" r="12.5" cy="50" cx="50"/%3E%3Ccircle class="b" r="6.5" cy="71.622" cx="15.51"/%3E%3Ccircle class="b" r="6.5" cy="12.367" cx="50.306"/%3E%3C/svg%3E');
        }
        .icon-control {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" id="m3"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23222%7D.a,.b%7Bfill:none;stroke-width:2%7D.b%7Bstroke:%2359f%7D.c%7Bstroke-width:6%7D%3C/style%3E%3Ccircle class="a" r="38.709" cy="50" cx="50"/%3E%3Ccircle class="a" r="38.993" cy="50" cx="50"/%3E%3Ccircle class="b c" r="12.5" cy="50" cx="50"/%3E%3Cpath class="a" d="M50 17.96v11.11m5.556-5.555H44.444m11.112 51.86H44.444"/%3E%3Cpath class="b" d="M74.077 56.482L80.56 50l-6.483-6.667M25.923 56.668l-6.482-6.483 6.483-6.667"/%3E%3C/svg%3E');
        }
        .icon-script {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" id="m4"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23222%7D.a,.b%7Bfill:none;stroke-width:2%7D.b%7Bstroke:%2359f%7D.c%7Bstroke-width:6%7D%3C/style%3E%3Ccircle class="a" cx="22.751" cy="76.038" r="6.545"/%3E%3Cpath class="a" d="M71.32 39.845h9.26v-9.26"/%3E%3Cpath class="b" d="M28.57 60.558v9.26h9.26m40.56-22.04c-20.927-4.63-39.45 3.15-49.264 21.3"/%3E%3Cpath class="a" d="M80.025 39.66C68.727 22.62 51.873 17.805 37.797 23.917"/%3E%3Ccircle class="b c" cx="25.606" cy="31.297" r="12.353"/%3E%3Ccircle class="a" cx="85.077" cy="49.243" r="6.545"/%3E%3C/svg%3E');
        }
        .icon-settings {
            background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" id="m5"%3E%3Cstyle%3Epath,circle%7Bstroke-linecap:round;stroke-linejoin:round%7D.a%7Bstroke:%23222%7D.a,.b%7Bfill:none;stroke-width:2%7D.b%7Bstroke:%2359f%7D.c%7Bstroke-width:6%7D%3C/style%3E%3Ccircle class="b c" cx="50" cy="50" r="12.5"/%3E%3Cpath class="a" d="M49.815 75.466l-9.63-2.037-9.076 9.444-4.26-2.778 5.185-12.038-5.556-8.335-13.15.186-.927-4.817 12.223-5 1.853-9.63-9.447-9.447 2.778-3.89 12.225 5 8.15-5.37V13.42l4.63-.925 5 12.224 9.816 2.036 9.26-9.445 4.076 2.594-5.186 12.223 5.556 8.335 13.15-.185 1.11 4.815-12.408 5-1.852 9.63 9.446 9.447-2.778 4.074-12.224-5.186-8.15 5.37v13.15l-4.815.927z"/%3E%3C/svg%3E');
        }
        #menu ul li a {
            color: #EEEEEE;
        }
        #menu ul li a:hover .mt {
            color: #5599EE;
            border-bottom: 1px dashed #5599EE;
        }
        #menu ul li a.active .mt {
            color: #5599EE;
            border-bottom: 1px solid #5599EE;
        }
        .sb {
            background-color: #112233;
            box-shadow: 0 1px 3px #111111;
        }
        .tsb {
            color: #CCCCCC;
            border-bottom: 0.2em solid #CCCCCC;
        }
        .sc-name {
            color: #CCCCCC;
            &:hover, &:focus {
                color: #FFFFFF;
            }
        }
        .block {
            background-color: #112233;
            box-shadow: 0 1px 3px #222222;
        }
        .sc-device, .tsc {
            background-color: #111111;
            border: 1px solid #444444;
        }
        .input {
            color: #CCCCCC;
            background-color: #111111;
            border: 1px solid #555555;
            &:hover, &:focus, &:active {
                background-color: #444444;
                outline: none;
            }
        }
        .select {
            color: #CCCCCC;
            background-color: #111111;
            border: 1px solid #555555;
            &:hover, &:focus {
                background-color: #444444;
                outline: none;
            }
        }
    }
}
